*{
    margin: 0;
    padding: 0;
}

body{
   background-color: #a4fbfc;
   text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color:rgb(242, 255, 200);
    background-color: black;
}
.rst-btn{
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: black;
    color: #ffffff;
}
.new-btn{
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: black;
    color: #ffffff;
}
#msg{
    color: black;
    font-size: 8vmin;
}
.msg-container{
    height: 20vmin;
}
.hide{
    display:none;
}